{% extends "../partials/case.njk" %}
{% set currentNavSection = 'personal-details' %}
{% set headerCRN = crn %}
{% set headerDob = personalDetails.dateOfBirth %}
{% set headerGender = personalDetails.preferredGender %}
{% set dateWarning = 'An end date will change this to a previous address and you will need to add a new main address.' %}

{% block beforeContent %}
    {% set bannerHtml %}
    <h2 class="govuk-heading-m govuk-!-font-weight-regular">{{ dateWarning }}</h2>
    {% endset %}
    {% if origin === 'appointments' %}
        {% if backLink %}
            {{ govukBackLink({
    href: backLink
  }) }}
        {% endif %}
    {% else %}
        {{ govukBreadcrumbs({
        items: [
            {
                text: "Cases",
                href: "/case"
            },
            {
                text: headerPersonName.forename + ' ' + headerPersonName.surname,
                href: "/case/" + crn,
                attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
            },
            {
                text: "Personal details",
                href: "/case/" + crn + "/personal-details"
            }
        ]
    }) }}
    {% endif %}
    {{ mojBanner({
        type: 'information',
        html: bannerHtml,
        attributes: { "data-qa": "infoBanner"},
        classes: 'govuk-!-margin-bottom-2'
    }) if personalDetails.mainAddress.to }}

    {% if errorMessages %}
        {% set errorList = errorMessages | toErrorList %}
        {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
        {% endif %}
    {% endif %}

{% endblock %}

{% block pageContent %}
    {% include "../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
    <h2 class="govuk-!-margin-top-0 govuk-heading-l govuk-!-margin-bottom-7" data-qa="pageHeading">{{title}}</h2>
    {% if showContactAlert %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
                {{ mojAlert({
                    variant: "warning",
                    title: "",
                    showTitleAsHeading: false,
                    dismissible: false,
                    attributes: { "data-qa": "updateBanner" },
                    text: 'The contact details must belong to ' + headerPersonName.forename | convertToTitleCase + '. Any updates you make here will also update the NDelius record.' if flags.enableAllowSms else 'If you change contact details here, this will update the record in NDelius. The contact details must belong to the person.'
                }) }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-!-width-three-quarters">
        <form method="post" autocomplete="off" action="{{ paths.current }}">

            {% if personalDetails.mainAddress.to %}
                <input type="hidden" name="endDateWarningDisplayed" value="true">
            {% endif %}
            {% block editForm %}{% endblock %}
            <div class="govuk-button-group">
                {{ govukButton({
                html: "Save changes",
                attributes: {
                    'data-qa': 'submitBtn'
                }
            }) }}
                <a class="govuk-link" href="{{backLink}}" data-qa="cancelBtn">Cancel and go back</a>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>
    </div>
{% endblock %}