$govuk-global-styles: true;
$path: '/assets/images/';
$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;
$low-score-colour-mpop: #485b10;
$low-score-border-colour: #85994b;
$medium-score-colour-mpop: #a34e00;
$medium-score-border-colour: #f47738;
$high-score-colour-mpop: #942514;
$high-score-border-colour: #d4351c;
$very-high-score-colour-mpop: #711a0d;
$very-high-score-border-colour: #942514;
$unknown-score-border-colour: #fd0;
$no-score-colour-mpop: #505a5f;
$no-score-border-colour: #505a5f;
$no-score-background-colour: #ffffff;
$mappa-colour: #4c2c92;

@import '../../node_modules/govuk-frontend/dist/govuk/index';
@import '../../node_modules/@ministryofjustice/frontend/moj/all';
@import '../../node_modules/@ministryofjustice/hmpps-arns-frontend-components-lib/dist/all';
@import '../../node_modules/@ministryofjustice/hmpps-mpop-frontend-components-lib/dist/all';
@import './components/header-bar';
@import './components/summary-card';
@import './components/card';
@import 'assets/scss/local';
@import './components/photo';
@import './components/sortable-table';
@import '../../node_modules/govuk-frontend/dist/govuk/_base';
@import '../../node_modules/@ministryofjustice/frontend/moj/components/sortable-table/_sortable-table';
@import './components/predictor-scores';
@import './components/risk-flag-widget';
@import './components/timeline';
@import './components/flex';
@import './components/note';
@import './components/checkboxes';
@import './components/modal';

.secondary-text {
  color: $govuk-secondary-text-colour; /* Using a GOV.UK Design System color */
}
.strong {
  font-weight: 900;
}

.line-break {
  white-space: preserve-breaks;
}

.text-break {
  overflow-wrap: break-word;
  word-break: break-word;
}

.secondary-text--with-break {
  display: block; /* replaces <br> */
}

.dps-header {
  background-color: rgba(86, 148, 202, 0.2);
  padding: 25px 0;
}

.dps-homepage-search {
  background-color: #f3f2f1;
  padding: 25px 0;
}

.hmpps-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}

.govuk-accordion__probation-accordion-custom {
  .govuk-accordion__controls {
    display: none;
    height: 25px;
  }

  .govuk-accordion__section {
    border: 1px solid #b1b4b6 !important;
    border-top: 1px solid #b1b4b6 !important;
    border-bottom: 0 !important;
    padding-top: 0;

    .govuk-accordion__section-button {
      display: flex;
      border-top: 0 !important;
      border-bottom: 0 !important;
      padding-top: 15px !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-bottom: 5px !important;
      .govuk-accordion__section-heading-text {
        flex-grow: 1;
      }
    }
  }
  .govuk-accordion__section-header {
    position: relative;
  }
  .govuk-accordion__section-heading {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
  }
  .govuk-accordion__after-heading {
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .govuk-accordion__section-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.govuk-filter-background {
  background-color: #f3f2f1;
  padding: 32px 32px 5px 32px;
}

.govuk-select--inline {
  display: inline-block;
  margin-right: 30px;
}

dd.govuk-summary-list__value span.app-notes-author {
  display: block;
  color: $govuk-secondary-text-colour;
  font-size: 16px;
}

.nowrap {
  white-space: nowrap; /* Prevents text from wrapping */
  min-width: 110px;
}

.govuk-select--width-20 {
  max-width: 41ex;
}

.govuk-select--autosize {
  min-width: 0 !important;
}

.ui-timepicker-wrapper {
  overflow-y: auto;
  max-height: 150px;
  width: auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10052;
  margin: 0;
  @include govuk-font($size: 19);
  border: 2px solid govuk-colour('black');
  border-top: none;
  max-width: 10.8ex;
  box-sizing: border-box;
}

.ui-timepicker-wrapper .ui-timepicker-list li {
  padding-right: 20px;
}

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}

.ui-timepicker-list li {
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid govuk-colour('mid-grey');
}

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980ec;
  color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}

.toggle-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toggle-menu__list-item {
  display: inline-block;
  &:not(:first-child):before {
    content: '|';
    padding: 0 2px;
  }
}

.govuk-colour--red {
  color: govuk-colour('red');
}

.govuk-\!-width-three-tenths {
  width: 30% !important;
}
.govuk-\!-width-one-fifth {
  width: 20% !important;
}
.govuk-\!-width-two-fifths {
  width: 40% !important;
}
.govuk-\!-width-one-third-plus-three {
  width: 22.22% !important;
}

.flex--center {
  justify-content: center;
}
.govuk-summary-list.moj-multi-file-upload__list {
  display: flex;
  flex-wrap: wrap;
}
.govuk-summary-list__row.moj-multi-file-upload__row {
  display: flex;
  flex: 0 0 100%;
  @include govuk-media-query($until: 1200px) {
    flex-direction: column;
  }
}
.govuk-summary-list__value.moj-multi-file-upload__message {
  flex: 1;
  display: block;
  padding-right: 0;
  display: flex;
}
.govuk-summary-list__actions.moj-multi-file-upload__actions {
  flex-shrink: 0;
  display: block;
  width: auto;
  @include govuk-media-query($until: 1200px) {
    text-align: left;
  }
}
.moj-multi-file-upload__error,
.moj-multi-file-upload__success {
  display: flex;
  align-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  @include govuk-media-query($until: 1200px) {
    flex-direction: column;
  }
}
.moj-multi-file-upload__message-text {
  flex: 1;
  flex-shrink: 0;
  position: relative;
  &--with-icon {
    padding-left: 30px;
  }
  .moj-banner__icon {
    float: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
  }
}

.moj-multi-file-upload__message-status {
  flex-shrink: 0;
  .moj-multi-file-upload__error &,
  .moj-multi-file-upload__success & {
    margin-right: 20px;
  }
  &--no-margin {
    .moj-multi-file-upload__error &,
    .moj-multi-file-upload__success & {
      margin-right: 0px;
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

[aria-sort] button {
  &::before,
  &::after {
    display: none;
  }
}

[data-module='moj-backend-sortable-table'],
[data-module='moj-mpop-sortable-table'] {
  & [aria-sort] button::before,
  & [aria-sort] button::after {
    display: none;
  }
  & [aria-sort] button .sort-icon {
    &::before,
    &::after {
      display: block;
    }
  }
  & [aria-sort] button .sort-icon {
    &::before {
      content: ' \25bc';
      position: absolute;
      top: 9px;
      right: -11px;
      font-size: 0.5em;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 1px;
      right: -11px;
      font-size: 0.5em;
    }
  }
  & [aria-sort='ascending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
  & [aria-sort='descending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25bc';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
}

[aria-sort] button {
  &::before,
  &::after {
    display: none;
  }
}

[data-module='moj-backend-sortable-table'],
[data-module='moj-mpop-sortable-table'] {
  & [aria-sort] button::before,
  & [aria-sort] button::after {
    display: none;
  }
  & [aria-sort] button .sort-icon {
    &::before,
    &::after {
      display: block;
    }
  }
  & [aria-sort] button .sort-icon {
    &::before {
      content: ' \25bc';
      position: absolute;
      top: 9px;
      right: -11px;
      font-size: 0.5em;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 1px;
      right: -11px;
      font-size: 0.5em;
    }
  }
  & [aria-sort='ascending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
  & [aria-sort='descending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25bc';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
}

.govuk-tag {
  white-space: nowrap;
}

body.feature-disabled {
  .moj-multi-file-upload__delete {
    display: none;
  }
}

.govuk-summary-list__key {
  vertical-align: top;
}

.govuk-summary-list__actions .govuk-link {
  white-space: normal;
}

.govuk-summary-list__hint {
  margin-top: 5px;
  color: #505a5f;
  display: block;
}

.rosh--very-high {
  color: $very-high-score-colour-mpop;
}

.rosh--high {
  color: $high-score-colour-mpop;
}

.rosh--medium {
  color: $medium-score-colour-mpop;
}

.rosh--low {
  color: $low-score-colour-mpop;
}

.rosh-widget {
  border: 2px solid govuk-colour('black');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  & h3,
  & h4 {
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.rosh-widget--none,
.risk-badge--none {
  background-color: $no-score-background-colour;
  border: 2px solid $no-score-border-colour;
  & h3,
  & h4 {
    color: $no-score-colour-mpop;
  }
}

.rosh-widget--unknown {
  border: 2px solid $unknown-score-border-colour;
}

.rosh-widget--low {
  border: 2px solid $low-score-border-colour;
  & h3,
  & h4 {
    color: $low-score-colour-mpop;
  }
}

.rosh-widget--medium {
  border: 2px solid $medium-score-border-colour;
  & h3,
  & h4 {
    color: $medium-score-colour-mpop;
  }
}

.rosh-widget--high {
  border: 2px solid $high-score-border-colour;
  & h3,
  & h4 {
    color: $high-score-colour-mpop;
  }
}

.rosh-widget--very-high {
  border: 2px solid $very-high-score-border-colour;
  & h3,
  & h4 {
    color: $very-high-score-colour-mpop;
  }
}

.rosh-widget__table {
  text-align: left;
  margin: 0;

  & tbody {
    & th {
      font-weight: 400;
    }

    & td {
      font-weight: bold;
    }
  }
}

.rosh-widget__risk--low {
  color: $low-score-colour-mpop;
}

.rosh-widget__risk--medium {
  color: $medium-score-colour-mpop;
}

.rosh-widget__risk--high {
  color: $high-score-colour-mpop;
}

.rosh-widget__risk--very-high {
  color: $very-high-score-colour-mpop;
}

.mappa-widget {
  border: 2px solid $mappa-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  & h3,
  & h4 {
    color: $mappa-colour;
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.mpop-govuk-link-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: #1d70b8;
  text-decoration: underline;
}

.mpop-govuk-link-button:hover {
  color: #003078;
  text-decoration: underline;
}

.technical-updates-banner {
  background-color: #f9e1ec;
  padding: 10px 0 10px 0;
}

.feedback-prompt {
  background-color: #f3f2f1;
  color: #0b0c0c;
  border-top: 1px solid #b1b4b6;
  outline: 0;
  margin-top: 60px;
}

.feedback-prompt-text {
  font-size: 16px;
  line-height: 1.25;
  margin: 0 15px;
  padding: 20px 0;
}

.feedback-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feedback-container .govuk-button {
  margin-bottom: 0;
  border: 1px #0b0c0c solid;
  min-width: 100px;
  box-shadow: 0px 3px 0px 0px #0b0c0c;
}

.feedback-container .govuk-label {
  text-decoration: none !important;
}

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px;
}

.technical-updates-container {
  color: #0b0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display-none {
  display: none;
}

.sms-message-wrapper {
  background: #e2e1e0;
  border: 1px solid #e2e1e0;
  border-radius: 5px;
  box-sizing: border-box;
  clear: both;
  margin: 0 0 30px;
  max-width: 464px;
  padding: 15px;
  position: relative;
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
}
.sms-message-wrapper:after {
  border-color: transparent transparent #e2e1e0 #e2e1e0;
  border-style: solid;
  border-width: 10px 13px;
  bottom: -5px;
  content: '';
  display: block;
  position: absolute;
  right: -20px;
  transform: rotate(20deg);
}

.contact-activity {
  &__tag {
    display: inline-block !important;
    float: none;
    flex-shrink: 0;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;

    li {
      white-space: nowrap;
    }
  }

  &__manage-link {
    display: inline-block;
    width: 100px;
    white-space: normal;
  }

  &__filter {
    .govuk-button {
      @extend .govuk-button--secondary;
    }
  }

  &--noNotes {
    display: block;
  }
}

.contact-log-compact {
  .govuk-details {
    margin-bottom: 5px;
  }

  &__contact-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  &__contact-content {
    flex: 1;
    min-width: 0;
  }

  .contact-activity__tag {
    flex-shrink: 0;
    margin-left: auto;
  }

  &-row {
    border: 0;
    &--last {
      border-bottom: 1px solid #b1b4b6;
    }
  }
  .app-compliance-tag--compact {
    float: none;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
}

.flex__item-full-width-mobile {
  @include govuk-media-query($until: tablet) {
    width: 100%;
  }
}

.flex--col-mobile {
  @include govuk-media-query($until: tablet) {
    flex-direction: column;
  }
}

.flex--gap-3 {
  gap: govuk-spacing(3);
}

[data-predictor-badge] {
  margin: 0 10px 10px 0;
  &:last-child {
    margin: 0;
  }
}

.table-cell-link-content {
  flex: 1;
  min-width: 0;
  max-width: 280px;
}

.table-cell-link-content a {
  display: inline-block;
  white-space: normal;
  word-break: break-word;
}

.icon-container-right-aligned {
  display: flex;
  gap: 5px;
  margin-left: auto;
}

@media (min-width: 40.0625em) {
  section[data-qa='appointmentDetails'] {
    .govuk-summary-list__actions {
      width: 25%;
    }
    .govuk-table__cell {
      a {
        max-width: 100%;
        display: block;
        word-break: break-word;
      }
    }
  }
}

.app-back-to-top__icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

.arns-summary-card-expanded-badge-spacing {
  padding-bottom: 15px;
}

.govuk-tag--auto-width {
  max-width: none !important;
}

.guidance-panel {
  border-left-color: govuk-colour('blue');
  background-color: #eaf4f9;
}

.app-avatar-img {
  display: block;
  object-fit: cover;
  border: 1px solid #b1b4b6;
  height: 120px;
}

.app-avatar-column {
  width: 90px !important;
  vertical-align: top !important;
  padding-top: 10px !important;
}

.app-\!-no-border {
  border: 0;
}

table.appointments tr {
  display: grid !important;
  grid-template-columns: 2.5fr 1.5fr 1.5fr 1fr;
}

table.appointments tr {
  th,
  td {
    width: 100% !important;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    &:first-child {
      padding: 10px 10px 10px 0;
    }
    &.notes {
      padding: 10px 0;
    }
  }
}

table.appointments tr > .notes {
  grid-column: 1 / -1;
}
