{% extends "../../partials/edit-contact-details.njk" %}
{% set title = 'Edit contact details for ' + personalDetails.name.forename %}
{% set pageTitle = makePageTitle({
    pageHeading: ["Edit contact details", "Contact"]
}) %}
{% set showContactAlert = true %}

{% block editForm %}
    {% if origin not in ['appointments', 'allowSms'] %}
        {{ govukInput({
                value: personalDetails.telephoneNumber if personalDetails.telephoneNumber,
                label: {
                    text: "Phone number (optional)",
                    classes: "govuk-label--m govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, 01632 960 000"
                },
                id: 'phoneNumber',
                name: 'phoneNumber',
                formGroup: {
                    attributes: {
                        'data-qa': 'phoneNumber'
                    }
                },
                classes: "govuk-input--width",
                errorMessage: {
                    text: errorMessages.phoneNumber,
                    attributes: {
                        'data-qa': 'phoneNumberError'
                    }
                } if errorMessages.phoneNumber
            }) }}
    {% endif %}
    {{ govukInput({
                value: personalDetails.mobileNumber if personalDetails.mobileNumber,
                label: {
                    text: "Mobile number" + ( " (optional)" if origin != 'appointments' else ""),
                    classes: "govuk-label--m govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, 07771 900 900"
                },
                id: 'mobileNumber',
                name: 'mobileNumber',
                formGroup: {
                    attributes: {
                        'data-qa': 'mobileNumber'
                    }
                },
                classes: "govuk-input",
                errorMessage: {
                    text: errorMessages.mobileNumber,
                    attributes: {
                        'data-qa': 'mobileNumberError'
                    }
                } if errorMessages.mobileNumber
            }) }}
{% if flags.enableAllowSms %}
          {{ govukRadios({
    classes: "govuk-radios--inline",
    id: "allowSms",
    name: "allowSms",
    fieldset: {
      legend: {
        text: 'Has ' + personalDetails.name.forename | convertToTitleCase + ' given permission to receive text messages on this number? (optional)',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    formGroup: {
      classes: "govuk-!-margin-bottom-4",
      attributes: {
        'data-qa': 'allowSms'
      }
    },
    items: [
      {
        text: "Yes",
        id: "allowSms-yes",
        value: "YES",
        checked: true if personalDetails.allowSms else false
      },
      {
        text: "No",
        id: "allowSms-no",
        value: "NO",
        checked: true if personalDetails.allowSms == false else false
      }
    ]
  }) }}
{% endif %}
    {% if origin != 'appointments' %}
        {{ govukInput({
                value: personalDetails.email if personalDetails.email,
                label: {
                    text: "Email address (optional)",
                    classes: "govuk-label--m govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, name@example.com"
                },
                id: 'emailAddress',
                name: 'emailAddress',
                formGroup: {
                    attributes: {
                        'data-qa': 'emailAddress'
                    }
                },
                classes: "govuk-input",
                errorMessage: {
                    text: errorMessages.emailAddress,
                    attributes: {
                        'data-qa': 'emailAddressError'
                    }
                } if errorMessages.emailAddress
            }) }}
    {% endif %}
{% endblock %}