{% extends "../../_form.njk" %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% set title = "Edit contact details for " + case.name.forename %}
{% set pageTitleText = "Edit contact details for the person" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set backLink = '/case/' + crn + '/appointments/check-in/manage/' + id + '/contact' %}
{% set buttonText = "Save changes" %}
{% set showAnchorLink = true %}
{% set formAnchorLink = backLink %}
{% set formAnchorText = "Cancel and go back" %}
{% set notStandardForm = true %}

{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
          {{ title }}
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojAlert({
            variant: "warning",
            title: "",
            showTitleAsHeading: false,
            dismissible: false,
            attributes: { "data-qa": "updateBanner" },
            text: 'The contact details must belong to ' + personDetails.name.forename | convertToTitleCase + '. Any updates you make here will also update the NDelius record.' if flags.enableAllowSms else 'If you change contact details here, this will update the record in NDelius. The contact details must belong to the person.'
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                classes: 'govuk-!-margin-bottom-6',
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}

        <form method="post" autocomplete="off" action="{{ paths.current }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="change" value="{{ change }}">
            <input type="hidden" name="previousMobile" value="{{ checkInMobile }}">
            <input type="hidden" name="previousEmail" value="{{ checkInEmail }}">

            {{ govukInput({
                label: {
                    text: "Mobile number (optional)",
                    classes: "govuk-label--s govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, 07771 900 900"
                },
                formGroup: {
                    attributes: { 'data-qa': 'mobileNumber' }
                },
                classes: "govuk-input"
            } | decorateFormAttributes(['esupervision', crn, id, 'manageCheckin', 'editCheckInMobile'])) }}

            {{ govukInput({
                label: {
                    text: "Email address (optional)",
                    classes: "govuk-label--s govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, name@example.com"
                },
                formGroup: {
                    attributes: { 'data-qa': 'editEmail' }
                },
                classes: "govuk-input"
            } | decorateFormAttributes(['esupervision', crn, id, 'manageCheckin', 'editCheckInEmail'])) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: buttonText,
                    type: "submit",
                    attributes: { "data-qa": "submit-btn" }
                }) }}
                <a class="govuk-link" href="{{ formAnchorLink }}" data-qa="formAnchorLink">
                    {{ formAnchorText }}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
