{% extends "../_form.njk" %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% set rearranging = appointment['rearrange-or-cancel'] %}
{% set buttonText = "Return to " + case.name.forename + "'s overview" %}
{% set notStandardForm = true %}
{% set appointmentDates = [appointment.date] %}
{% set phoneNumber = '' %}
{% if case.mobileNumber %}
  {% set phoneNumber = 'mobile' %}
{% endif %}
{% if not case.mobileNumber and case.telephoneNumber %}
  {% set phoneNumber = 'telephone' %}
{% endif %}
{% set title = 'Appointment arranged' %}
{% if isInPast %}
  {% set title = 'Past appointment arranged' %}
{% endif %}
{% if appointmentType == "RESCHEDULE" %}
  {% set title = 'Appointment rescheduled' %}
{% endif %}
{% set pageTitle = makePageTitle({
  pageHeading: [title, "Arrange appointment"]
}) %}
{% set appointmentDatesHtml %}
{% for appointmentDate in appointmentDates %}
  {% if loop.index > 1 %}<br>{% endif %}
  <span data-qa="appointment-date">{{ appointmentDate | dayOfWeek }}
    {{ appointmentDate | dateWithYear }}
    from
    {{ appointment.start | to12HourTimeCompact}}
    to
    {{ appointment.end | to12HourTimeCompact}}</span>{% endfor %}
{% set cases = "/case/" %}
{% set overViewLink = "/case/" + crn %}
{% set anotherAppointment = "/case/"+ crn + "/appointments/appointment/" + responseContactId + "/next-appointment?back=" + url %}
{% endset %}

{% set panelHtml %}
<div class="govuk-!-font-size-27">
  <strong>{{ appointment.type.description | toSentenceCase }}</strong><br/>
  {{ appointmentDatesHtml | safe }}
</div>
{% endset %}

{% block beforeContent %}{% endblock %}
{% block primary %}
  {% if not linkedAppointment %}
    {{ govukPanel({
  titleHtml: '<span data-qa="pageHeading">' + title + '</span>',
  headingLevel: 2,
  html: panelHtml
}) }}
  {% else %}
    <h2 class="govuk-heading-l govuk-!-margin-top-6" data-qa="pageHeading">{{ title }}</h2>
    <p class="govuk-body">
      <span data-qa="appointment-type">{{ appointment.type.description | toSentenceCase }}</span><br>
      {{ appointmentDatesHtml | safe }}
    </p>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" data-qa="what-happens-next">
      <h2 class="govuk-heading-m {{ 'govuk-!-margin-top-2' if linkedAppointment else 'govuk-!-margin-top-6' }}">What happens next</h2>

      {% if flags.enableSmsReminders == true %}
        {% if smsSent %}
          {% if not isEnglishNotificationFailed and not isWelshNotificationFailed %}
            <p class="govuk-body" data-qa="sms-confirmation-msg">{{ case.name.forename }} should receive a confirmation text message within a few minutes with the appointment details.</p>
          {% elif isEnglishNotificationFailed and not isWelshNotificationFailed%}
            {{ mojAlert({
              variant: "warning",
              title: "We could not send a confirmation text message to " + case.name.forename,
              showTitleAsHeading: true,
              dismissible: false,
              text: "You need to give " + case.name.forename + " the appointment details.",
              attributes: {
                'data-qa': 'sms-err-msg-english'
              }
            }) }}

          {% elif isWelshNotificationFailed and not isEnglishNotificationFailed %}
            {{ mojAlert({
            variant: "information",
            title: "We could not send a confirmation text message to " + case.name.forename + " in Welsh",
            showTitleAsHeading: true,
            dismissible: false,
            text: case.name.forename + " has received the appointment details in English. We have logged the text as a contact on NDelius.",
            attributes: {
              'data-qa': 'sms-err-msg-welsh'
            }
          }) }}

          {% else %}
            {{ mojAlert({
              variant: "warning",
              title: "We could not send a confirmation text message to " + case.name.forename,
              showTitleAsHeading: true,
              dismissible: false,
              text: "You need to give " + case.name.forename + " the appointment details.",
              attributes: {
                'data-qa': 'sms-err-msg-combined'
              }
            }) }}
          {% endif %}
        {% else %}
          <p class="govuk-body">You need to give {{ case.name.forename }} the appointment details.</p>
        {% endif %}
      {% endif %}
      {% if not isInPast %}
        {% if flags.enableSmsReminders == false %}
          <p class="govuk-body">
        You need to send
        {{case.name.forename}}
        the appointment details.
      {% if phoneNumber %}
         Their phone number is
         <span data-qa="{{ phoneNumber }}">
                {% if phoneNumber == 'mobile' %}{{ case.mobileNumber + "." }}
                {% else %}{{ case.telephoneNumber + "." }}
                {% endif %}
              </span>
            {% endif %}
          </p>
        {% endif %}
        {% if isOutLookEventFailed %}
          <p class="govuk-body" data-qa="outlook-err-msg-1">There is a technical problem with Outlook and we could not send a calendar invitation.</p>
          <p class="govuk-body" data-qa="outlook-err-msg-2">The appointment{% if appointmentType == 'RESCHEDULE' %} details have been updated on
            {% else %} has been added to {% endif %}the NDelius contact log and officer diary, along with any supporting information.</p>
        {% elif isOutlookEventPending %}
          {{ mojAlert({
            variant: "error",
            title: "There may be a problem sending your calendar invitation",
            showTitleAsHeading: true,
            dismissible: false,
            text: "You may not receive a calendar invitation. If it does not arrive within a few minutes, create your own calendar event.",
            attributes: {
              'data-qa': 'outlook-pending-msg'
            }
          }) }}
          <p class="govuk-body" data-qa="outlook-pending-msg-2">The appointment{% if appointmentType == 'RESCHEDULE' %} details have been updated on
            {% else %} has been added to {% endif %}the NDelius contact log and officer diary, along with any supporting information.</p>
        {% else %}
          {% if not isInPast %}
            <p class="govuk-!-margin-bottom-0" data-qa="">The appointment{% if appointmentType == 'RESCHEDULE' %} details have been updated on{% else %} has been added to{% endif %}:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-left-1" data-qa="outlook-msg">
              <li>{{ attendingName }} calendar</li>
              <li>the NDelius contact log and officer diary, along with any supporting information</li>
            </ul>
          {% else %}
            <p class="govuk-body">The appointment details have been updated on the NDelius contact log and officer diary.</p>
          {% endif %}
        {% endif %}
      {% else %}
        <p class="govuk-body">The appointment has been {% if appointmentType == 'RESCHEDULE' %}updated on{% else %}added to{% endif %} the NDelius contact log and officer diary.</p>
      {% endif %}
    </div>
    {% if not linkedAppointment %}
      <div class="govuk-grid-column-two-thirds" data-qa="further-actions">
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Further actions for {{case.name.forename}}</h2>
        <p class="govuk-!-margin-bottom-0">You can:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-left-1">
          <li>
            <a class="govuk-link" href="{{ anotherAppointment }}" data-qa="anotherAppointmentLink">
                        arrange another appointment
                    </a>
          </li>
          {% if contactResponse.content.length > 0 %}
            <li>
              {% if contactResponse.content.length == 1 %}
                <a class="govuk-link" href="/case/{{ crn }}/appointments/appointment/{{ contactResponse.content[0].id }}/manage" data-qa="logOutcomeLink">
        log appointment outcome for {{ contactResponse.content[0].date | dayOfWeek + ' ' + contactResponse.content[0].date | dateWithYear }}
                </a>
              {% endif %}
              {% if contactResponse.content.length > 1 %}
                <a class="govuk-link" href="/case/{{ crn }}/record-an-outcome/outcome" data-qa="logOutcomeLink">
        log outcomes for {{ contactResponse.content.length }} appointments
          </a>
              {% endif %}
            </li>
          {% endif %}
        </ul>
        <form method="post" autocomplete="off" action="{{ paths.current  }}">
          <div class="govuk-button-group">
            {{ govukButton({
      html: buttonText,
      attributes: {
        'data-qa': 'submit-btn'
      }
    }) }}
            <a class="govuk-link" href="{{ cases }}" data-qa="returnToAllCases">
      Return to all cases
    </a>
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>
      {% else %}
        <div class="govuk-grid-column-two-thirds" data-qa="logAppointmentOutcome">
          <p class="govuk-body">You can now finish logging the outcome for {{ linkedAppointment.type }} on {{ linkedAppointment.date }}.</p>
          <form method="post" autocomplete="off" action="{{ paths.current }}">
            <div class="govuk-button-group">
              {{ govukButton({
      html: 'Return to log appointment outcome',
      attributes: {
        'data-qa': 'submit-btn'
      }
    }) }}
              <input type="hidden" name="_linkedContactId" value="{{ linkedAppointment.contactId }}">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </form>
          </div>
        {% endif %}
      </div>
    </div>

  {% endblock %}