{% extends "../_form.njk" %}
{% set title = 'Text message confirmation' %}
{% set pageTitle = makePageTitle({
  pageHeading: [title, "Arrange appointment"]
}) %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/location-date-time?back=text-message-confirmation' %}
{% set personForename = headerPersonName.forename | convertToTitleCase %}

{% set hint = "They do not have a mobile number saved, so you´ll need to check if they have one." %}
{% if flags.enableAllowSms and case.mobileNumber %}
    {% set hint = "Check if " + personForename + "’s number is correct." %}
{% endif %}
{% if not flags.enableAllowSms and case.mobileNumber %}
    {% set hint = "Their mobile number is " + case.mobileNumber + "." %}
{% endif %}

{% block alertBanner %}
    {% include "../../partials/_risk-to-staff-alert.njk" %}
{% endblock %}
{% block form %}


{% if flags.enableAllowSms %}
    {% set smsConfirmationOptions = smsConfirmation.options %}
    {% set smsPreview = smsConfirmation.preview %}
    {% set overviewHtml = '' %}
    {% for item in smsConfirmation.overview %}
        {% set overviewHtml = overviewHtml + '<li>' + item + '</li>' %}
    {% endfor %}
    {% if overviewHtml %}
        {% set overviewHtml = '<ul class="govuk-list govuk-list--bullet">' + overviewHtml + '</ul>' %}
        {{ govukInsetText({
            html: overviewHtml
        }) }}
    {% endif %}   
{% endif %}
    {{ govukRadios({
    classes: "govuk-radios--inline" if not case.mobileNumber else "",
    fieldset: {
      legend: {
        html: 'Do you want to text ' + personForename + ' a confirmation on ' + case.mobileNumber + '?' if flags.enableAllowSms and case.mobileNumber else 'Do you want to send ' + personForename + ' a text message confirmation?',
        classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2",
        isPageHeading: false
      },
      attributes: {
        'data-qa': 'smsOptIn'
      }
    },
    hint: {
        text: hint
      },
    items: smsConfirmationOptions
   } | decorateFormAttributes(['appointments', crn, id, 'smsOptIn'])) }}
    {% if smsPreview !== null %}
        <section id="smsPreview" data-qa="smsPreview" class="govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-m">Text message preview</h3>
            <p class="govuk-hint">Preview the text that will be sent based on the appointment details.</p>
            <p class="govuk-body">
                {% if not smsPreview.welshSmsPreview %}
                    {{ personForename }} will receive this message:
            {% else %}
                    {{ personForename }}’s preferred language is Welsh, so they will receive this message in English and in Welsh:
            {% endif %}
            </p>
            {% for key, value in smsPreview %}
                {% if value != null %}
                    <div class="sms-message-wrapper">
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            {{ value | nl2br | safe }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
