{% extends "../partials/case.njk" %}
{% from "_components/compliance-tag/macro.njk" import appComplianceTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "../partials/manage-appointment-link.njk" import manageAppointmentLink %}
{% from "mpop/components/supervision-package-summary/macro.njk" import supervisionPackageSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "_components/note/macro.njk" import appNote %}
{% set pageTitle = makePageTitle({pageHeading: "Appointments"}) %}
{% set currentNavSection = 'appointments' %}
{% set personForename = headerPersonName.forename %}
{% set headerCRN = upcomingAppointments.personSummary.crn %}
{% set headerDob = upcomingAppointments.personSummary.dateOfBirth %}
{% set offenderId = upcomingAppointments.personSummary.offenderId %}
{% set headerGender = upcomingAppointments.personSummary.gender %}
{% set totalUpcomingAppointments = upcomingAppointments.personSchedule.totalResults %}
{% set upcomingAppointments = upcomingAppointments.personSchedule.appointments %}
{% set pastAppointments = pastAppointments.personSchedule.appointments %}
{% set upcomingAppointmentRows = [] %}
{% set pastAppointmentRows = [] %}
{% set setActionButtons = "false" %}
{% set nextCheckin = offenderCheckinsByCRNResponse %}
{% set checkinLink = '/case/' + crn + '/appointments/check-in/eligibility-check?back=appointments' %}
{% set manageCheckinLink = '/case/' + crn + '/appointments/check-in/manage/' + offenderCheckinsByCRNResponse.uuid %}

{% if not nextCheckin or nextCheckin.status === 'INITIAL'%}
  {% set checkinLink = checkinLink %}
  {% set checkinButtonText = 'Set up online check ins' %}
{% else %}
  {% set checkinLink = manageCheckinLink %}
  {% set checkinButtonText = 'Manage online check ins' %}
{% endif %}


{% if upcomingAppointments.length > 0 %}
  {% for appointment in upcomingAppointments %}
    {% set displayName = appointment.displayName if appointment.displayName else appointment.type %}
    {% set appointmentDescription = appointment.description + ' - ' + displayName if appointment.description else displayName %}
    {% set manageUrl = "/case/" + crn + "/appointments/appointment/" + appointment.id + "/manage?back=" + url %}
    {% set appointmentDetails %}
    <a class='govuk-link' href={{ manageUrl }}>
      {{ appointmentDescription | toSentenceCase }}
    </a>
    <div class="tags" data-qa="upcomingAppointmentTags{{ loop.index }}">
      {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-top-2 govuk-!-margin-right-1', compact: false }) }}

    </div>
    {% endset %}
    {% set actionsButton %}
    {{ manageAppointmentLink(appointment, crn, manageUrl) }}
    {% endset %}
    {% set notes = '' %}
    {% set hasNotes = flags.enableSupervisionPackage and appointment.appointmentNotes.length > 0 %}
    {% if hasNotes %}
{% for appointmentNote in appointment.appointmentNotes %}
    {% if appointmentNote.note %}
      {% set notes = notes.concat(appNote(appointmentNote, '/case/' + crn + '/appointments/appointment/' + appointment.id + '/manage/note/' + appointmentNote.id + '?back=' + url)) %}
    {% endif %}
  {% endfor %}
  {% endif %}
  {% set columns = [
    {
        html: appointmentDetails,
        attributes: { "data-qa":"upcomingAppointmentType"+loop.index },
        classes: "govuk-!-width-one-third" + (" app-!-no-border" if  hasNotes)
      },
      {
        text: appointment.startDateTime | dateWithYear,
        format: "numeric",
        attributes: { "data-qa":"upcomingAppointmentDate"+loop.index },
        classes: "govuk-!-width-one-third-plus-three" + (" app-!-no-border" if  hasNotes)
      },
      {
        text: timeFromTo(appointment.startDateTime, appointment.endDateTime),
        format: "numeric",
        attributes: { "data-qa":"upcomingAppointmentTime"+loop.index },
        classes: "govuk-!-width-one-third-plus-three" + (" app-!-no-border" if  hasNotes)
      },
      {
        html: actionsButton,
        format: "numeric",
        attributes: {"data-qa": "upcomingAppointmentAction" + loop.index },
        classes: "govuk-!-width-one-third-plus-three" + (" app-!-no-border" if  hasNotes)
      }
    ]
    %}
    {% if hasNotes %}
     {% set columns = (columns.push({
        html:  govukDetails({
                        summaryText: "Notes",
                        classes: "govuk-!-margin-bottom-0",
                        html: notes
                    }),
        classes: "notes",
        attributes: { "data-qa":"upcomingAppointmentNotes" + loop.index }
      }), columns)
      %}
      {% endif %}

   {% set upcomingAppointmentRows = (upcomingAppointmentRows.push(columns), upcomingAppointmentRows) %}
  {% endfor %}
{% endif %}

{% if pastAppointments.length > 0 %}
  {% for appointment in pastAppointments %}
    {% set displayName = appointment.displayName if appointment.displayName else appointment.type %}
    {% set appointmentDescription = appointment.description + ' - ' + displayName if appointment.description else displayName %}
    {% set manageUrl = "/case/" + crn + "/appointments/appointment/" + appointment.id + "/manage?back=" + url %}
    {% set appointmentDetails %}
    {% if flags.enableSupervisionPackage %}
          <a class='govuk-link' href={{ manageUrl }}>
            {{ appointmentDescription | toSentenceCase }}
          </a>
          <div class="tags" data-qa="pastAppointmentTags{{ loop.index }}">
            {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-top-2 govuk-!-margin-right-1', compact: false }) }}
          </div>
    {% else %}
<div class="contact-log-compact__contact-wrapper">
        <div class="table-cell-link-content">
          <a class='govuk-link' href={{ manageUrl }}>
            {{ appointmentDescription | toSentenceCase }}
          </a>
        </div>
       <div class="icon-container-right-aligned">
         {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-left-2', compact: true }) }}
       </div>
     </div>
    {% endif %}
    {% endset %}

    {% set actionsButton %}
    {{ manageAppointmentLink(appointment, crn, manageUrl) }}
    {% endset %}

      {% set notes = '' %}
    {% set hasNotes = flags.enableSupervisionPackage and appointment.appointmentNotes.length > 0 %}
    {% if hasNotes %}
{% for appointmentNote in appointment.appointmentNotes %}
    {% if appointmentNote.note %}
      {% set notes = notes.concat(appNote(appointmentNote, '/case/' + crn + '/appointments/appointment/' + appointment.id + '/manage/note/' + appointmentNote.id + '?back=' + url)) %}
    {% endif %}
  {% endfor %}
  {% endif %}

  {% set columns = [
    {
        html: appointmentDetails,
        attributes: { "data-qa":"pastAppointmentType"+loop.index },
        classes: "govuk-!-width-one-third" + (" app-!-no-border" if  hasNotes)
      },
      {
        text: appointment.startDateTime | dateWithYear,
        format: "numeric",
        attributes: { "data-qa":"pastAppointmentDate"+loop.index },
        classes: "govuk-!-width-one-third-plus-three" + (" app-!-no-border" if  hasNotes)
      },
      {
        text: timeFromTo(appointment.startDateTime, appointment.endDateTime),
        format: "numeric",
        attributes: { "data-qa":"pastAppointmentTime"+loop.index },
        classes: "govuk-!-width-one-third-plus-three" + (" app-!-no-border" if  hasNotes)
      },
      {
        html: actionsButton,
        format: "numeric",
        classes: "govuk-!-width-one-third-plus-three" + (" app-!-no-border" if  hasNotes)
      }
    ] %}
{% if hasNotes %}
     {% set columns = (columns.push({
        html:  govukDetails({
                        summaryText: "Notes",
                        classes: "govuk-!-margin-bottom-0",
                        html: notes
                    }),
        classes: "notes",
        attributes: { "data-qa":"pastAppointmentNotes" + loop.index }
      }), columns)
      %}
      {% endif %}
       {% set pastAppointmentRows = (pastAppointmentRows.push(columns), pastAppointmentRows) %}
  {% endfor %}
{% endif %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        {
          text: "Cases",
          href: "/case"
        },
        {
          text: headerPersonName.forename + ' ' + headerPersonName.surname,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: "Appointments"
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
  {% include "../partials/_risk-to-staff-alert.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if flags.enableSupervisionPackage %}
      <div class="flex flex--space-between">
        {% endif %}
<h2 class="govuk-heading-l" data-qa="appointments-header-label">Appointments</h2>
      {% include "../partials/_date-of-death-warning.njk" %}
      {% if not hasDeceased %}
        <div class="moj-button-group moj-button-group--inline govuk-!-margin-bottom-3">
            <div class="moj-button-group__item">
              <form method="POST" action="" class="govuk-!-display-inline-block">
                <button type="submit" class="govuk-button govuk-!-static-margin-bottom-0" data-module="govuk-button" data-qa="arrange-appointment-btn">
                            Arrange an appointment
                        </button>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              </form>
            </div>
          {% if canAccessCheckins %}
            <div class="moj-button-group__item">
              <a href="{{ checkinLink }}" class="govuk-button govuk-button--secondary govuk-!-margin-left-3"  data-qa="{% if offenderCheckinsByCRNResponse %}online-manage-btn{% else %}online-checkin-btn{% endif %}">{{ checkinButtonText }}</a>
            </div>
          {% endif %}
        </div>
      {% endif %}
     {% if flags.enableSupervisionPackage %}
      </div>
{% endif %}

{% if flags.enableSupervisionPackage and supervisionPackageDetails and not hasDeceased %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% endif %}

            <section class="govuk-!-margin-bottom-8 app-summary-card--large-title" data-qa="upcomingAppointmentsSection">
        <h3 class="govuk-heading-m" id="section1" data-qa="upcomingAppointments">Upcoming appointments</h3>
        {% if upcomingAppointments.length == 0 %}
          <p>There are no upcoming appointments.</p>
        {% else %}
     {{ govukTable({
              firstCellIsHeader: false,
              captionClasses: 'govuk-visually-hidden',
              classes: 'appointments' if flags.enableSupervisionPackage else '',
              head: [
                {
                  text: "Appointment type",
                  classes: "vertical-align--middle govuk-!-width-one-third"
                },
                {
                  text: "Date",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three",
                  format: "numeric"
                },
                {
                  text: "Time",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three",
                  format: "numeric"
                },
                {
                  html: "Action",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three",
                  format: "numeric"
                }
              ],
              rows: upcomingAppointmentRows
            }) }}

          {% if totalUpcomingAppointments > 10 %}
            <p>
              <a href="/case/{{crn}}/upcoming-appointments" class="govuk-link">View all upcoming appointments</a>.</p>
          {% endif %}
        {% endif %}
      </section>

      <section class="govuk-!-margin-bottom-8 app-summary-card--large-title" data-qa="pastAppointmentsSection">
        <h3 class="govuk-heading-m" id="section2" data-qa="pastAppointments">Past appointments</h3>
        {% if pastAppointments.length == 0 %}
          <p>There are no past appointments.</p>
        {% else %}
               {{ govukTable({
              firstCellIsHeader: false,
              captionClasses: 'govuk-visually-hidden',
              classes: 'appointments' if flags.enableSupervisionPackage else '',
              head: [
                {
                  text: "Appointment type",
                  classes: "vertical-align--middle govuk-!-width-one-third"
                },
                {
                  text: "Date",
                  format: "numeric",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three"
                },
                {
                  text: "Time",
                  format: "numeric",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three"
                },
                {
                  html: "Action",
                  format: "numeric",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three"
                }
              ],
              rows: pastAppointmentRows
            }) }}
        {% endif %}
      </section>
      <section data-qa="appointmentHistorySection">
        <h3 class="govuk-heading-m" id="section3" data-qa="appointmentHistory">Appointment history</h3>
        <p>
          <a href="/case/{{crn}}/activity-log" class="govuk-link">View all past appointments in the contacts page</a>.</p>
      </section>
    </div>
    {% if flags.enableSupervisionPackage and supervisionPackageDetails and not hasDeceased %}
    <aside class="govuk-grid-column-one-quarter">
{{ supervisionPackageSummary(supervisionPackageDetails) }}
    </aside>
    {% endif %}
    </div>

{% endblock %}
